*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color:rgb(235, 69, 14,);
}
.p1{
    width: 380px;
    background-color: linen;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.p1 .title1{
    line-height: 60px;
    background: rgba(235, 69, 14, 0.799);
    padding-top: 2px;
    border-radius: 5px 5px 0 0;
    text-align:center;
    color: #120505;
    font-size: 15px;
    font-weight: 600;
}
.p1 .icon i{
    font-size: 4rem;
    color:rgba(235, 69, 14, 0.799);
}
.p1 .inst{
    text-align: center;
    margin-top: 20px;
}